@model MahekaruProfileCore.Models.ProfileModel
@{
    ViewData["Title"] = "Test";
    Layout = "";
}


    <head>
        <link rel="stylesheet" href="~/css/Test.css">
        <link href="C:\Users\mahek\.nuget\packages\font.awesome.aspdotnetcore\5.15.1\contentFiles\any\any\wwwroot\lib\fontawesome\css\fontawesome.css" rel="stylesheet" />
    </head>

<cc>
    <dbox>decoration box</dbox>
    <ibox>
        <nbox>
            <div>Michael Jennings</div>
            <div>Web Developer</div>
        </nbox>
        <cbox>
            <ul>
                <li>
                    <div class="fa">icon</div>
                    <div>(317) 626-8984</div>
                </li>
                <li>
                    <div>Icon</div>
                    <div>Linked In</div>
                </li>
                <li>
                    <div>icon</div>
                    <div>Git hub</div>
                </li>
            </ul>
        </cbox>
    </ibox>
</cc>