@model MahekaruProfileCore.Models.ProfileModel
@{
    ViewData["Title"] = "Test";
    Layout = "";
}


    <head>
        <link rel="stylesheet" href="~/css/Test.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </head>

<cc>
    <dbox>decoration box</dbox>
    <ibox>
        <nbox>
            <nbname>Michael Jennings</nbname>
            <nbtitle>Web Developer</nbtitle>
        </nbox>
        <cbox>
            <ul>
                <li>
                    <cicon phone class="fa fa-phone" style="font-size:36px"></cicon>
                    <ctext>(317) 626-8984</ctext>
                </li>
                <li>
                    <cicon class="fa fa-linkedin-square" style="font-size:36px"></cicon>
                    <ctext>Linked In</ctext>
                </li>
                <li>
                    <cicon class="fa fa-github-square" style="font-size:36px"></cicon>
                    <ctext>Git hub</ctext>
                </li>
            </ul>
        </cbox>
    </ibox>
</cc>