cc{
    display:flex;
    flex-flow:column nowrap;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
}

dbox {
    background-color: #ffef9c;
}

ibox {
    display:flex;
    flex-flow:row nowrap;
    background-color: #132232;
    color: #ffef9c;
}

nbox{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
}

ul li {
    display:flex;
    flex-flow: row nowrap;
}